@model UserSignupViewModel
@{
    ViewData["Title"] = "My Account";
}

<h1> Welcome @User.FindFirst("DisplayName")?.Value </h1>
<div class="container">
<h2> Your account details: </h2>
<div class="mt-4">
<p class="display-2"> First Name:</p>
<p> @Model.FirstName</p>
<p class="display-2"> Last Name:</p>
        <p> @Model.LastName</p>
<p class="display-2"> Email:</p>
<p>@Model.Email</p>
<p class="display-4">
    Address
</p>
<p> @Model.StreetName </p>
        <p class="display-4">
            City
        </p>
        <p> @Model.City </p>
@if(@Model.PhoneNumber != null){
        <p class="display-2"> Phone number:</p>
        <p> @Model.PhoneNumber</p>
}
        
</div>

</div>

