@model UserSignupViewModel
@{
    ViewData["Title"] = "My Account";
}

<h2> Welcome @User.FindFirst("DisplayName")?.Value </h2>
<div class="container">
    <h4> Your account details: </h4>

    <p> Firstname: @Model.FirstName</p>

    <p> Lastname: @Model.LastName</p>

    <p> Email: @Model.Email</p>

    <p> Address: @Model.StreetName </p>
   
    <p> City: @Model.City </p>

    @if (@Model.PhoneNumber != null)
    {
        <p>
            Phone number: @Model.PhoneNumber
        </p>

    }

</div>



